/* Base */
body {
  padding: 16px;

  font-family: Roboto;
  font-size: 16px;

  color: #f7f7f7;
  background-color: rgb(11, 11, 11);
}

ul {
  list-style-type: none;
}

img {
  display: block;
  height: auto;

  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* Search form */
#search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 15px 0;

  background-color: inherit;
}

.search-form__input {
  outline: none;
  border: none;

  background-color: inherit;
  color: inherit;
}

.search-form__input::placeholder {
  font-size: 16px;
  color: #989898;
}

.search-form__btn {
  width: 50px;
  height: 40px;

  border: none;
  cursor: pointer;

  background-color: inherit;
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;

  margin-top: 50px;
}

.photo-wraper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 360px;
  height: 240px;

  overflow: hidden;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2px;

  font-size: 11px;
}

.load-btn {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 50%;

  border: none;
  cursor: pointer;

  background-color: inherit;
  color: inherit;

  font-size: 32px;
}
.load-btn:hover,
.load-btn:focus {
  color: #ffffff;
}
.load-btn.is-hidden {
  display: none;
}
